.loginSection{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
}
form {
    background: #ffffff69;
    padding: 20px;
    border-radius: 10px;
}

.mat-mdc-form-field {
    width: 300px;
}
h1 {
    text-align: center;
    color: #fff;
}