

<div class="loginSection">
    
    <form [formGroup]="forgotForm">
        <h1>Login Page</h1>
        <mat-form-field class="example-full-width">
            <mat-label>
                UserName
            </mat-label>
            <input type="text" matInput formControlName="userName" placeholder="">
        </mat-form-field>

        <br>
        <mat-form-field class="example-full-width">
            <mat-label>
                NewPassword
            </mat-label>
            <input type="password" matInput formControlName="passwordNew" placeholder="">
        </mat-form-field>

        <br>
        <mat-form-field class="example-full-width">
            <mat-label>
                Confirm Password
            </mat-label>
            <input type="password" matInput formControlName="confrmPasswrd">
        </mat-form-field>
        <div *ngIf="forgotForm.hasError('passwordMismatch')" style="color:red">
            Passwords do not match
          </div>
        <br>

        <button mat-raised-button (click)="Onsubmit()">Submit</button>
        <button mat-raised-button (click)="Oncancel()" style="float: right;">Cancel</button>
